@import 'main.scss';

.kit-builder-section {
    align-items: flex-start;
    border-radius: 10px;
    border: none;
    background-color: none;
    display: flex;
    flex-direction: column;
}

.kit-builder-title-wrapper {
    align-items: center;
    background-color: rgba($silver, .5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;

    img {
        max-width: 300px;
    }

    h2 {
        color: $red;
        font-weight: 700;
        min-width: 225px;
    }

    p {
        color: $black;
        padding-left: 20px;
    }
}

.kit-builder-display-wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 0 20px 20px;
    width: 100%;
}

.kit-builder-forms {
    align-items: center;
    background-color: $black;
    border-radius: 20px;
    display: flex;
    padding: 5px;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    min-width: 475px;
}

.item-form,
.kit-form {
    background-color: rgba($silver, .8);
    border: 3px solid $black;
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    width: 100%;

    h3 {
        font-size: 1.2rem;
    }

    span {
        color: $red;
    }

    div {
        margin: 8px auto;
    }

    label {
        color: $black;
        font-size: 0.9rem;
        padding-left: 5px;
    }

    textarea {
        border-radius: 5px;
        max-width: 400px;
        resize: none;
        width: 100%;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .kit-zip {
        width: 50px;
    }

    .kit-phone {
        width: 90px;
    }

    button {
        background-color: $green;
        border: none;
        border-radius: 10px;
        color: $white;
        font-size: 1.2rem;
        padding: 5px 10px;
        width: 30%;

        &:hover {
            background-color: $gold;
            color: $black;
        }
    }
}

.kit-arrow {
    margin-top: 200px;

    svg {
        height: 180px;

        polygon {
            fill: $red;
        }
    }
}

.kit-display-wrapper {
    align-items: center;
    background-color: rgba($dkgreen, .8);
    border: 5px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-width: 370px;
    height: 100%;

    h3, h4, p {
        font-size: 1.5rem;
        margin: 0 10px;
    }

    h4 {
        font-size: 1.2rem;
    }

    p {
      font-size: 1rem;
        color: $black;
    }

    .item-message {
        color: $silver;
    }

    .club-logo {
        background-color: $black;
        border: 1px solid $black;
        border-radius: 0 15px 0 20px;
        position: absolute;
        right: 0;
        top: 0;
        width: 100px;
    }

    .item-detail-wrapper {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .item-detail {
        background-color: $silver;
        border-radius: 5px;
        border: 1px solid black;
        color: $black;
        margin: 5px 2px;
        width: 100px;

        &:hover {
            background-color: $gold;
        }

        img {
            max-height: 75px;
        }
    }
}

.kit-builder-footer {
  align-items: center;
  background-color: rgba($black, .5);
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  width: 100%;

  .kit-builder-footer-text {
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1;
    margin-left: 20px;
    &:hover {
      background-color: $gold;
      color: $black;
    }
  }
  img {
    border-radius: 0 0 0 10px;
    height: 75px;
    width: 75px;
  }
  button {
    border: none;
    border-radius: 50%;
    height: 40px;
    font-weight: 700;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: 30px;
    width: 40px;
    &:hover {
      background-color: $red;
    }
  }
}
.is-hidden {
  display: none;
}
