@import 'main.scss';

.kit-messages-section {
    align-items: flex-start;
    border-radius: 10px;
    border: none;
    background-color: none;
    display: flex;
    flex-direction: column;
}

.kit-messages-title-wrapper {
    align-items: center;
    background-color: rgba($silver, .5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;

    img {
        max-width: 300px;
    }

    h2 {
        color: $red;
        font-weight: 700;
        min-width: 225px;
    }

    p {
        color: $black;
        padding-left: 20px;
    }
}
.is-hidden {
  display: none;
}
