//reset

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *:before, *:after {
  box-sizing: border-box;
}
button:focus, textarea:focus {
    outline: none;
}
img {
	max-width: 100%;
	width:100%;
}

// colors
$cyan: cyan;
$black: black;
$gold: gold;
$gray: gray;
$green: green;
$ltblue: lightskyblue;
$ltgreen: chartreuse;
$maroon: maroon;
$navy: navy;
$orange: darkorange;
$purple: purple;
$red: red;
$royal: blue;
$silver: silver;
$white: white;
$yellow: yellow;
$dkgray: rgb(60,59,59);
$mdgray: rgb(153,153,153);
$dkgreen: rgb(51,68,44);

html {
    height: 100%;
}

body {
    background: $black;
    color: $white;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    line-height: 1.6;
    margin: 0 auto;
    width: 100vw;
}

section {
    border-top: 2px solid black;
}

main {
    background: url('../img/grass.jpg') repeat center center;
    background-size: cover;
    height: 100%;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    color: $gold;
    font-size: 2rem;
}

h3 {
    color: $gold;
    font-weight: 700;
}

.page-footer {
    background-color: $black;
    color: $gray;
    font-size: .8rem;
    width: 100%;
    clear: both;
    text-align: center;
    padding-top: 10px;
    a {
      color: $gray;
      &:hover {
        color: $white;
      }
    }
}

.is-hidden {
  display: none;
}
