@import url(reset.css);
html {
  height: 100%; }

body {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  min-height: 100vh;
  line-height: 1.6;
  margin: 0 auto;
  width: 100vw; }

section {
  border-top: 2px solid black; }

main {
  background: url("../images/grass.jpg") repeat center center;
  background-size: cover;
  min-height: 80vh; }

h1 {
  color: gold;
  font-size: 2rem;
  font-weight: 700; }

h2 {
  color: #c80606;
  font-size: 2rem;
  font-weight: 700; }

h3 {
  color: black;
  font-size: 1.3rem;
  font-weight: 700; }

h4 {
  color: black;
  font-size: 1.2 rem; }

h5 {
  color: black;
  font-size: 1.1 rem; }

p {
  color: black;
  font-size: 1 rem; }

a {
  text-decoration: none;
  color: gold;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all .2s linear;
  padding: 5px; }

a:hover {
  color: #00e600;
  background-color: black;
  transform: scale(1.2); }

#index-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -100;
  right: 0;
  bottom: -10vh;
  background-size: cover;
  overflow: hidden;
  position: absolute; }

.index-video-wrapper {
  height: 100%;
  width: 100%;
  background-size: cover; }

.site-header {
  background: url("../images/grass.jpg") no-repeat center center;
  background-size: cover;
  border-bottom: 10px solid black;
  text-align: center;
  top: 0;
  width: 100%; }

.logo-container svg {
  max-width: 500px;
  filter: drop-shadow(2px 2px 10px black);
  margin-top: 25px; }

.logo-container svg path {
  fill: white;
  stroke: none; }

.logo-container svg .logo-shirt {
  fill-opacity: 0.5;
  fill: gold;
  stroke-width: 0.5; }

.logo-container svg polygon {
  fill: #c80606;
  stroke: none; }

.logo-container svg line {
  stroke: #c80606;
  stroke-width: 13; }

.logo-container svg .logo-smletter {
  fill: black; }

.site-nav {
  float: right;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center; }

.site-nav a {
  margin-top: 20px;
  border-radius: 5px;
  color: silver;
  display: block;
  font-size: 1rem;
  background-color: inherit;
  padding: 10px;
  margin-right: 20px;
  text-transform: uppercase;
  text-decoration: none; }

.site-nav a:hover {
  border-radius: 5px;
  color: gray;
  background-color: gold;
  color: black; }

a.active {
  background-color: rgba(0, 0, 0, 0.9);
  transform: scale(1);
  color: gray; }

a.active:hover {
  background-color: rgba(0, 0, 0, 0.9);
  color: gray;
  transform: scale(1); }

.is-secondary {
  background: none;
  background-color: #33442c;
  text-align: left;
  padding-left: 20px;
  position: fixed;
  z-index: 500; }

.is-secondary .logo-container svg {
  width: 15%; }

.is-secondary .logo-container .logo-smletter {
  display: none; }

.secondary-title {
  align-items: flex-end;
  background-color: rgba(192, 192, 192, 0.5);
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid #33442c;
  text-align: right;
  margin: 75px 0 20px 0;
  padding: 5px 20px; }

.secondary-title img {
  max-width: 400px;
  margin-bottom: -25px;
  z-index: 100; }

.secondary-title p {
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 2px; }

.section-wrapper {
  width: 100%; }

.content-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  width: 100%; }

.page-footer {
  background-color: black;
  font-size: 0.8rem;
  width: 100%;
  height: 20vh;
  clear: both;
  text-align: center;
  padding-top: 10px; }

.page-footer p {
  color: gray; }

.page-footer a {
  color: gray; }

.page-footer a:hover {
  color: white; }

.secondary-title {
  position: relative; }

.secondary-title svg {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 5px;
  fill: rgba(255, 215, 0, 0.9);
  animation: move 4s ease-in .5s 1;
  transform: translate(-1500px, 0); }

@keyframes move {
  0% { }
  100% {
    transform: translate(100px, 0);
    opacity: 0; } }

.green-btn {
  background-color: rgba(255, 215, 0, 0.6);
  border: 1px solid gray;
  border-radius: 10px;
  color: black;
  font-size: 1rem;
  font-weight: 700;
  padding: 5px 10px;
  margin: 10px;
  text-align: center;
  width: 150px;
  transition: all 0.2s linear; }

.green-btn:hover {
  background-color: #00b300;
  color: black;
  transform: scale(1.2); }

.kit-arrow {
  margin-left: 4px;
  margin-top: 100px; }

.kit-arrow svg {
  width: 80px; }

.kit-arrow svg polygon {
  fill: #c80606; }

.kit-form {
  border-radius: 10px;
  background-color: rgba(192, 192, 192, 0.7);
  border: 5px solid black;
  margin: 5px;
  padding: 20px 0;
  text-align: center;
  width: 100%; }

.kit-form .form-line {
  margin: 10px 0; }

.kit-form h3 {
  color: green; }

.kit-form span {
  color: #c80606; }

.kit-form input,
.kit-form label,
.kit-form select {
  color: black;
  font-size: 1.2rem;
  padding: 0 5px; }

.kit-form textarea {
  border-radius: 5px;
  font-size: 1rem;
  max-width: 400px;
  resize: none;
  width: 100%; }

.kit-form input[type=number]::-webkit-inner-spin-button,
.kit-form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.about-h1 {
  text-shadow: 1px 1px 3px gray;
  font-size: 3rem;
  text-align: center;
  color: #c80606;
  line-height: 1;
  margin-bottom: 30px; }

.about-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 90%; }

.about-col1 {
  box-shadow: 2px 2px 5px black;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  background-color: rgba(200, 212, 182, 0.95);
  border: 2px solid black;
  width: 400px;
  flex: none;
  height: 400px;
  align-self: center; }

.about-col1 .login-section svg {
  display: block;
  margin: 0 auto; }

.about-col1 .login-section svg .logo-smletter {
  display: none; }

.about-col1 .login-section svg .logo-arrow {
  fill: #c80606; }

.about-col1 .login-section svg .logo-shirt {
  fill: rgba(255, 215, 0, 0.5);
  stroke: black; }

.about-col1 .login-section .login-form {
  display: flex;
  justify-content: space-around;
  margin: 0 auto; }

.about-col1 .login-section h3 {
  color: black;
  font-weight: 700; }

.about-col1 .login-section a,
.about-col1 .login-section p {
  background-color: rgba(255, 215, 0, 0.6);
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }

.about-col1 .login-section a img,
.about-col1 .login-section p img {
  border-radius: 5px;
  display: block;
  max-height: 70px;
  margin: 0 auto;
  max-width: 70px; }

.about-col1 .login-section a:hover,
.about-col1 .login-section p:hover {
  background-color: #1aff1a;
  color: black; }

.about-col2 {
  text-align: center;
  height: 600px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 10px 20px black;
  border-left: 5px solid black; }

.about-col2 .main-tag {
  padding: 20px; }

.about-col2 .main-tag h4 {
  font-weight: 700;
  color: white; }

.about-col2 .main-tag span {
  display: block; }

.about-col2 .kit-description {
  color: white;
  text-align: center; }

.about-col2 .kit-description h3 {
  background: rgba(255, 255, 255, 0.7); }

.about-col2 .kit-description img {
  height: 40px;
  width: 40px; }

.about-col2 .kit-description ul {
  margin: 20px auto;
  width: 200px; }

.about-col2 .kit-description li {
  display: inline-block;
  margin: 0 10px; }

.about-col2 .what-kit {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  text-align: left; }

.about-col2 p {
  padding: 8px; }

.about-col3 {
  background-color: rgba(255, 255, 255, 0.4);
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 20px black;
  border-right: 5px solid black; }

.about-col3 .main-tag ul {
  display: flex;
  justify-content: space-between;
  padding: 20px 0; }

.about-col3 .main-tag p {
  color: black;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px; }

.post-btn {
  display: block;
  margin: 10px auto; }

.kit {
  color: white;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid silver;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 375px;
  flex-direction: column;
  padding: 5px;
  position: relative; }

.kit h4 {
  color: white; }

.kit h5 {
  color: silver; }

.kit p {
  color: gray; }

.kit p:last-child {
  color: white; }

.kit .item-message {
  text-align: center;
  padding: 5px; }

.club-logo,
.contact,
.kit-type,
.user-photo {
  border-radius: 0 20px 0 20px;
  position: absolute;
  width: 75px; }

.kit-type {
  left: 0;
  top: 0;
  border-radius: 20px 0 20px 0;
  color: gold;
  width: 60%;
  padding: 3px 0 0 15px;
  text-transform: capitalize; }

.club-logo {
  right: 0;
  top: 0; }

.user-photo {
  left: 0;
  bottom: 0; }

.contact {
  right: 0;
  bottom: 0;
  background-color: rgba(255, 215, 0, 0.6);
  border-radius: 20px 0 20px 0;
  width: 80px;
  text-align: right;
  padding-right: 5px;
  transition: all 0.2s linear; }

.contact:hover {
  background-color: #00b300;
  color: black;
  transform: scale(1.2);
  transform-origin: right bottom;
  border-radius: 20px 0 15px 0; }

.kit-content {
  margin: 35px 10px 15px 0;
  line-height: 1.1; }

.kit-footer {
  text-align: left;
  margin-left: 80px;
  line-height: 1.2; }

.kit-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px 0; }

.kit-item {
  background-color: rgba(255, 255, 255, 0.5);
  stroke: black;
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
  text-align: center; }

.kit-item svg {
  width: 75px;
  height: 50px; }

.kit-item h5 {
  color: white;
  font-weight: 700; }

.kit-item p {
  color: black; }

.kit-profile-section {
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  background-color: none;
  display: flex; }

.kit-profile-user {
  margin: 5px;
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  border: 1px solid green;
  padding: 10px 0;
  text-align: center;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.kit-profile-user h4 {
  background-color: rgba(255, 255, 255, 0.7); }

.kit-profile-user a {
  margin: 10px auto; }

.kit-profile-user img {
  max-width: 150px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: silver;
  margin: 0 auto; }

.kit-things {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.kit-things .choice-article {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid green;
  width: 500px;
  padding: 30px;
  border-radius: 10px; }

.kit-things .choice-article svg {
  display: block;
  margin: 20px auto;
  margin-bottom: 20px;
  width: 300px; }

.kit-things .choice-article svg .logo-smletter {
  fill: white; }

.kit-things .choice-article svg .logo-lgletter {
  fill: rgba(255, 255, 255, 0.5); }

.kit-things .choice-article svg .logo-arrow {
  fill: #c80606; }

.kit-things .choice-article svg .logo-shirt {
  fill: rgba(255, 215, 0, 0.5);
  stroke: black; }

.kit-things a.choice {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: rgba(255, 215, 0, 0.6);
  color: black;
  transition: all 0.2s linear;
  display: block;
  text-align: center; }

.kit-things a.choice:hover {
  background-color: #00b300;
  transform: scale(1.2); }

.kit-things .kit {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  width: 400px; }

.kit-things .kit .contact {
  display: none; }

.viewer-club-logo {
  width: 150px;
  display: block;
  margin: 0 auto; }

.header {
  text-align: center;
  overflow: hidden;
  width: 100%; }

.header h2 {
  color: black;
  background-color: rgba(255, 215, 0, 0.6); }

.form-secondary {
  text-align: center;
  color: black;
  margin: 5px; }

.form-secondary select, .form-secondary option {
  font-size: 1.2rem; }

.form-secondary label {
  display: none; }

.kit-display {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap; }

.kit-display .kit {
  max-width: 300px;
  margin: 10px; }

.club-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px; }

.club-select .club {
  width: 200px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  padding: 5px;
  text-align: center;
  transition: all .2s linear; }

.club-select .club h3 {
  font-weight: 700; }

.club-select .club:hover {
  background-color: rgba(255, 215, 0, 0.5);
  transform: scale(1.2); }

.view-head {
  width: 100%; }

.message-form-wrapper {
  display: flex;
  justify-content: center; }

.messages {
  align-items: flex-start; }

.message-container, .messages {
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: 590px; }

.message-container h3, .messages h3 {
  background-color: rgba(51, 68, 44, 0.8);
  color: gold; }

.kit-message {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 2px 2px 5px black;
  text-align: left;
  padding: 0 10px;
  line-height: 1; }

.message-header {
  display: flex;
  align-items: center; }

.message-header span {
  margin-left: 5px;
  font-weight: 700; }

.message-header img {
  margin-top: 5px; }

.message-body {
  margin-left: 65px; }

.message-btns {
  text-align: right; }

.message-btns button {
  background-color: gold;
  color: black; }

.message-btns button:hover {
  background-color: #c80606; }

.message-form-wrapper {
  width: 450px;
  margin: 0 10px 5px 0; }

.message-form-wrapper textarea {
  min-height: 150px; }

.message-photos {
  display: flex;
  justify-content: center; }

.message-photos span {
  border: 1px solid black;
  background-color: rgba(51, 68, 44, 0.9);
  padding: 5px;
  border-radius: 10px;
  margin: 10px; }

.message-photos span p {
  color: silver; }

.message-photos span p:last-child {
  color: gold; }

.notfound {
  padding: 200px;
  text-align: center; }

.notfound img {
  width: 400px; }

.notfound h2 {
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5); }

.notfound a {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px;
  margin: 10px; }

.is-hidden {
  display: none; }

.sm-btn {
  font-size: 0.7rem;
  width: 50px;
  border-radius: 5px;
  margin: 5px; }

.is-sm-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%; }
