@import 'reset.css'; // colors-----------------------
$cyan: cyan;
$black: black;
$gold: gold;
$gray: gray;
$green: green;
$ltblue: lightskyblue;
$ltgreen: chartreuse;
$maroon: maroon;
$navy: navy;
$orange: darkorange;
$purple: purple;
$red: red;
$royal: blue;
$silver: silver;
$white: white;
$yellow: yellow;
$dkgray: rgb(60,59,59);
$mdgray: rgb(153,153,153);
$dkgreen: rgb(51,68,44); //breakpoint mixins----------------
//base styles-----------------------

html {
	height: 100%;
}

body {
	background: url('../images/grass.jpg') repeat center center;
	color: $white;
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	min-height: 100vh;
	line-height: 1.6;
	margin: 0 auto;
	width: 100vw;
}

section {
	border-top: 2px solid black;
}

main {
	background: url('../images/grass.jpg') repeat center center;
	background-size: cover;
	min-height: 80vh;
}

h1 {
	color: $gold;
	font-size: 2rem;
	font-weight: 700;
}

h2 {
	color: $red;
	font-size: 2rem;
	font-weight: 700;
}

h3 {
	color: $black;
	font-size: 1.3rem;
	font-weight: 700;
}

h4 {
	color: $black;
	font-size: 1.2 rem;
}

h5 {
	color: $black;
	font-size: 1.1 rem;
}

p {
	color: $black;
	font-size: 1 rem;
}

a {
	text-decoration: none;
	color: $gold;
	background-color: rgba($black, .7);
	transition: all .2s linear;
	padding: 5px;
	&:hover {
		color: lighten($green, 20%);
		background-color: $black;
		transform: scale(1.2);
	}
}
//homepage header-----------------------

.site-header {
	background: url('../images/grass.jpg') no-repeat center center;
	background-size: cover;
	border-bottom: 10px solid black;
	text-align: center;
	top: 0;
	width: 100%;
}

.logo-container {
	svg {
		max-width: 800px;
		filter: drop-shadow(2px 2px 10px black);
		margin-top: 25px;

		path {
			fill: $white;
			stroke: none;
		}

		.logo-shirt {
			fill-opacity: 0.5;
			fill: $gold;
			stroke-width: 0.5;
		}

		polygon {
			fill: $red;
			stroke: none;
		}

		line {
			stroke: $red;
			stroke-width: 13;
		}

		.logo-smletter {
			fill: $black;
		}
	}
}
//nav styling-----------------------

.site-nav {
	float: right;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;

	a {
		margin-top: 20px;
		border-radius: 5px;
		color: $silver;
		display: block;
		font-size: 1rem;
		background-color: inherit;
		padding: 10px;
		margin-right: 20px;
		text-transform: uppercase;
		text-decoration: none;

		&:hover {
			border-radius: 5px;
			color: $gray;
			background-color: $gold;
			color: $black;
		}
	}
}

,
a.active {
	background-color: rgba($black, .9);
	transform: scale(1);
	color: $gray;
}
a.active:hover {
	background-color: rgba($black, .9);
	color: $gray;
	transform: scale(1);
}
//layout styling-----------------------

.is-secondary {
	background: none;
	background-color: $dkgreen;
	text-align: left;
	padding-left: 20px;
	position: fixed;
	z-index: 5;

	.logo-container {
		svg {
			width: 15%;
		}

		.logo-smletter {
			display: none;
		}
	}
}

.secondary-title {
	align-items: center;
	background-color: rgba($silver, .5);
	display: flex;
	margin: 68px 0 20px;
	padding: 15px 0 0;
	width: 100%;
	border-bottom: 2px solid $dkgreen;
	box-shadow: 3px 3px 10px $dkgreen;

	img {
		max-width: 400px;
	}

	h2 {
		min-width: 225px;
		padding: 20px;
	}

	p {
		line-height: 1.2;
		font-weight: 700;
		margin-left: 40px;
	}
}

.section-wrapper {
	width: 100%;
}

.content-wrapper {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
}

.page-footer {
	background-color: $black;
	font-size: 0.8rem;
	width: 100%;
	height: 20vh;
	clear: both;
	text-align: center;
	padding-top: 10px;

	p {
		color: $gray;
	}

	a {
		color: $gray;

		&:hover {
			color: $white;
		}
	}
}
//repeated elements-----------------------

.green-btn {
	background-color: rgba($gold, .6);
	border: none;
	border-radius: 10px;
	color: $black;
	font-size: 1rem;
	font-weight: 700;
	padding: 5px 10px;
	margin: 10px;
	text-align: center;
	width: 150px;
	transition: all 0.2s linear;

	&:hover {
		background-color: lighten($green, 10%);
		color: $black;
		transform: scale(1.2);
	}
}

.kit-arrow {
	margin-left: 4px;
	margin-top: 100px;

	svg {
		width: 80px;

		polygon {
			fill: $red;
		}
	}
}

.kit-form {
	border-radius: 10px;
	background-color: rgba($silver, .7);
	border: 5px solid $black;
	margin: 5px;
	padding: 20px 0;
	text-align: center;
	width: 100%;

	.form-line {
		margin: 10px 0;
	}

	h3 {
		color: $green;
	}

	span {
		color: $red;
	}

	input,
	label,
	select {
		color: $black;
		font-size: 1.2rem;
		padding: 0 5px;
	}

	textarea {
		border-radius: 5px;
		font-size: 1rem;
		max-width: 400px;
		resize: none;
		width: 100%;
	}

	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
//home styling-----------------------

.about-h1 {
	padding-top: 20px;
	text-shadow: 2px 2px 5px $black;
	font-size: 3rem;
	text-align: center;
}

.about-wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
}

.about-col1 {
	margin: 20px;
	box-shadow: 2px 2px 5px $black;
	padding: 20px;
	border-radius: 20px;
	text-align: center;
	background-color: lighten($gold, 40%);
	border: 2px solid $black;
	width: 400px;
	height: 325px;

	.login-section {
		svg {
			display: block;
			margin: 0 auto;

			.logo-smletter {
				display: none;
			}

			.logo-arrow {
				fill: $red;
			}

			.logo-shirt {
				fill: rgba($gold, .5);
				stroke: black;
			}
		}

		.login-form {
			display: flex;
			justify-content: space-around;
			margin: 0 auto;
		}

		h3 {
			color: $black;
			font-weight: 700;
		}

		a,
		p {
			background-color: rgba($gold, .6);
			border: 2px solid $black;
			border-radius: 10px;
			color: $black;
			display: inline-block;
			font-size: 1rem;
			font-weight: 700;
			padding: 0 10px;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;

			img {
				border-radius: 5px;
				display: block;
				max-height: 70px;
				margin: 0 auto;
				max-width: 70px;
			}

			&:hover {
				background-color: lighten($green, 30%);
				color: $black;
			}
		}
	}
}

.about-col2 {
	text-align: center;

	.main-tag {
		h4 {
			font-weight: 700;
			border-radius: 20px 20px 0 0;
			background-color: rgba($green, .4);
			color: $white;

			span {
				display: block;
			}
			padding: 20px;
		}
	}

	.kit-description {
		background-color: rgba($white, .8);
		border-radius: 0 0 20px 20px;
		padding: 20px;
		color: $white;
		text-align: center;

		img {
			height: 40px;
			width: 40px;
		}

		ul {
			margin: 0 auto;
		}

		li {
			display: inline-block;
			margin: 0 10px;
		}
	}
}

.about-col3 {
	margin: 20px;

	img {
		box-shadow: 2px 2px 5px $black;
		border: 2px solid $black;
		border-radius: 20px;
		width: 400px;
		height: 325px;
	}
}

//kit-builder styling-----------------------
.post-btn {
	display: block;
	margin: 10px auto;
}

.kit {
	color: $white;
	position: relative;
	background-color: rgba($black, .7);
	border: 1px solid $silver;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	min-width: 375px;
	flex-direction: column;
	padding: 5px;
	position: relative;

	h3 {}

	h4 {
		color: $white;
	}

	h5 {
		color: $silver;
	}

	p {
		color: $gray;

		&:last-child {
			color: $white;
		}
	}
	.item-message {
		text-align: center;
		padding: 5px;
	}
}

.club-logo,
.contact,
.kit-type,
.user-photo {
	border-radius: 0 20px 0 20px;
	position: absolute;
	width: 75px;
}

.kit-type {
	left: 0;
	top: 0;
	border-radius: 20px 0 20px 0;
	color: $gold;
	width: 60%;
	padding: 3px 0 0 15px;
	text-transform: capitalize;
}

.club-logo {
	right: 0;
	top: 0;
}

.user-photo {
	left: 0;
	bottom: 0;
}

.contact {
	right: 0;
	bottom: 0;
	background-color: rgba($gold, .6);
	border-radius: 20px 0 20px 0;
	width: 80px;
	text-align: right;
	padding-right: 5px;
	transition: all 0.2s linear;

	&:hover {
		background-color: lighten($green, 10%);
		color: $black;
		transform: scale(1.2);
		transform-origin: right bottom;
		border-radius: 20px 0 15px 0;
	}
}

.kit-content {
	margin: 35px 10px 15px 0;
	line-height: 1.1;
}

.kit-footer {
	text-align: left;
	margin-left: 80px;
	line-height: 1.2;
}

.kit-item-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	margin: 10px 0;
}

.kit-item {
	background-color: rgba($white, .5);
	stroke: $black;
	margin: 5px;
	border-radius: 10px;
	padding: 5px;
	text-align: center;

	svg {
		width: 75px;
		height: 50px;
	}

	h5 {
		color: $white;
		font-weight: 700;
	}

	p {
		color: $black;
	}
}
//kit-profile styling-----------------------

.kit-profile-section {
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	border: none;
	background-color: none;
	display: flex;
}

.kit-profile-user {
	margin: 5px;
	color: $black;
	background-color: rgba($white, .4);
	border-radius: 20px;
	border: 1px solid $green;
	padding: 10px 0;
	text-align: center;
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	h4 {
		background-color: rgba($white, .7);
	}

	a {
		margin: 10px auto;
	}

	img {
		max-width: 150px;
		border-radius: 50%;
		border: 2px solid $black;
		background-color: $silver;
		margin: 0 auto;
	}
}

.kit-things {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.choice-article {
		background-color: rgba($black, .2);
		border: 1px solid $green;
		width: 500px;

		padding: 30px;
		border-radius: 10px;
		svg {
			display: block;
			margin: 20px auto;
			margin-bottom: 20px;
			width: 300px;

			.logo-smletter {
				fill: $white;
			}
			.logo-lgletter {
				fill: rgba($white, .5);
			}

			.logo-arrow {
				fill: $red;
			}

			.logo-shirt {
				fill: rgba($gold, .5);
				stroke: black;
			}
		}
	}
	a.choice {
		padding: 10px;
		margin: 10px;
		border-radius: 10px;
		font-size: 1.4rem;
		font-weight: 700;
		background-color: rgba($gold, .6);
		color: $black;
		transition: all 0.2s linear;
		display: block;
		text-align: center;
		&:hover {
			background-color: lighten($green, 10%);
			transform: scale(1.2);
		}
	}

	.kit {
		display: flex;
		flex-wrap: wrap;
		margin: 10px 0;
		width: 400px;
		.contact {
			display: none;
		}
	}
}
//kit-viewer styling-----------------------
.viewer-club-logo {
	width: 150px;
	display: block;
	margin: 0 auto;
}
.header {
	text-align: center;
	overflow: hidden;
	width: 100%;
	h2 {
		color: $black;
		background-color: rgba($gold, .6);
	}
}
.form-secondary {
	text-align: center;
	color: $black;
	margin: 5px;
	select, option, {
		font-size: 1.2rem;
	}
	label {
		display: none;
	}
}
.kit-display {
	display: flex;
	justify-content: space-around;

	flex-wrap: wrap;
	.kit {
		max-width: 600px;
		margin: 20px;

	}
}
.club-select {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.club {
		width: 200px;
		background-color: rgba($white, .5);
		margin: 5px;
		border-radius: 10px;
		box-shadow: 2px 2px 5px $black;
		padding: 5px;
		text-align: center;
		transition: all .2s linear;
		h3 {
			font-weight: 700;
		}
		&:hover {
			background-color: rgba($gold, .5);
			transform: scale(1.2);
		}
	}
}

//kit-messages styling-----------------------

.message-form-wrapper {
	display: flex;
	justify-content: center;
}
.messages {
	align-items: flex-start;
}

.message-container, .messages {
	display: flex;
	flex-direction: column;
	padding: 0;
	max-width: 590px;
	h3 {
		background-color: rgba($dkgreen, .8);
		color: $gold;
	}
}

.kit-message {
	width: 100%;
	background-color: rgba($white, .2);
	box-shadow: 2px 2px 5px $black;
	text-align: left;
	padding: 0 10px;
	line-height: 1;
}

.message-header {
	display: flex;
	align-items: center;

	span {
		margin-left: 5px;
		font-weight: 700;
	}

	img {
		margin-top: 5px;
	}
}

.message-body {
	margin-left: 65px;
}

.message-btns {
	text-align: right;

	button {
		background-color: $gold;
		color: $black;

		&:hover {
			background-color: $red;
		}
	}
}

.message-form-wrapper {
	width: 450px;
	margin: 0 10px 5px 0;

	textarea {
		min-height: 150px;
	}
}

.message-photos {
	display: flex;
	justify-content: center;

	span {
		border: 1px solid $black;
		background-color: rgba($dkgreen, .9);
		padding: 5px;
		border-radius: 10px;
		margin: 10px;

		p {
			color: $silver;

			&:last-child {
				color: $gold;
			}
		}
	}
}
//notfound styling----------------------
.notfound {
	padding: 200px;
	text-align: center;

	img {
		width: 400px;
	}

	h2 {
		margin-bottom: 20px;
		background-color: rgba($black, .5);
	}

	a {
		text-decoration: none;
		font-size: 1.5rem;
		padding: 10px;
		margin: 10px;
	}
}
//modifier styling-----------------------

.is-hidden {
	display: none;
}

.sm-btn {
	font-size: 0.7rem;
	width: 50px;
	border-radius: 5px;
	margin: 5px;
}

.is-sm-circle {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.is-sm-icon {}
